__pycache__/
*.pyc
*.pyo
.pytest_cache/
.env
*.egg-info/
.vscode/
.idea/

# Large external data (not committed to GitHub)
data/raw/osm/north-eastern-zone-latest.osm.pbf
cloudflared.exe.exe

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
